.div-principal{

  top: 0;
  left: 0;
  height: 1450px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #181B19;
  display: flex

};

h3{

margin-top: -5px;
margin-left: 20px;
font-size: 50px;
color: #90A955;

}

h1 {
  font-size: 35px;
  margin-top: 75px;
  margin-bottom: 20px;
  color: #9AB165;
  text-align: left;
  margin-left: 65px;
}

h2 {
  font-size: 30px;
  margin-top:55px;
  margin-bottom: 10px;
  color: #ffff;
  text-align: left;
  margin-left: 65px;
  margin-right: 65px;
}


 p {
text-align: left;
color: #ffff;
font-size: 21px;
margin: 0;
margin-right: 100px;

 }


